extends ../layout

block content
	.row
		.col-sm-12
			.card.postEntryCardBox
				.valign-wrapper#postEntryImage(style="background-image:url(/images/111.jpg)")
					h1.white-textt.valign.center#postEntry Title This is the post title
				.card-content.clearfix.grey.lighten-4
					.media
						.media-left
							img.media-object.avatar-xs(src="/images/avatar.png")
						.media-body
							h6.clearfix.grey-text.text-darken-1
								| Edwardson Sarenas
								small.pull-right.grey-text.text-darken-1
									span
										i.glyphicon.glyphicon-calendar.mr5
										| Apr 20, 2015
									span.ml15
										i.glyphicon.glyphicon-comment.mr5
										| 10
				.card-content.clearfix.post-content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					h4 This is how a heading 3 looks like

					p.hide
						img(src="/images/11.jpg" class="img-full")

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!
		
					ul
						li 1/2 cup rice flour
						li 1/2 cup cornstarch
						li 1/2 cup flour
						li 1 tsp salt
						li 1 tsp baking soda
						li 1 – 1 and 1/2 cups cold water
						li Whisk together all ingredients, keep cold.

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusantium laboriosam molestias similique maxime enim nesciunt quibusdam, harum facere iusto, temporibus deserunt optio atque doloribus. Earum facere, autem iste recusandae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum soluta voluptatibus quidem earum delectus quisquam praesentium reprehenderit eaque facere, hic vero similique itaque odio dolorem tempora, quia sed iste fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eligendi at laudantium molestias voluptate, esse error ipsam assumenda unde. Odit quasi pariatur hic a fugiat magnam nam doloremque exercitationem fugit!
					
