extends ../layout

block content
	h1.text-center
		| Register

	.row
		.col-xs-12
			form(action="/auth/register", method="POST", autocomplete="off")
				p
					label.show
						| Email Address
						input.form-control(placeholder="Enter a valid email", name="username", autocomplete="off")
				p
					label.show
						| Password
						input.form-control(placeholder="Type password", name="password", type="password")
				p
					input.btn-block.btn.btn-primary(type="submit", value="Register")