extends ../layout

block content
	h4
		| Welcome @#{admin.username}

	a.btn.btn-default(href="/admin/users")
		| Users
	a.btn.btn-default(href="/admin/posts")
		| Posts
	a.btn.btn-default(href="/auth/logout")
		| Logout