doctype html5
html
	head
		title title
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/styles.css')
		link(rel='stylesheet', href='/css/admin.css')
		link(rel='stylesheet', href='/css/misc.css')
body
	.container
		.row.mb20
			.col-md-12
				block content
	script(src='/javascripts/angular.min.js')
	script(src='/javascripts/jquery.js')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/admin.js')
	script(src='/javascripts/scripts.js')