extends ../layout-writer

block content

	.row
		.col-xs
			table.table.white
				thead
					tr
						th
							| Posts
				tbody
					-if(blogs){
						each blog in blogs
							tr
								td #{blog.title}
					-}